PoC_SOA/InventoryUninstallationProcess/SOA/WSDLs/outboundPS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="toa_outbound_interface" targetNamespace="urn:toa:outbound" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="urn:toa:outbound" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <xsd:schema targetNamespace="urn:toa:outbound" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:toa:outbound" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:complexType name="message_t">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="data" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="external_id" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="duration" type="xsd:long"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="sent" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="fault_attempt" type="xsd:long"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="stop_further_attempts" type="xsd:byte"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="time_delivered_start" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="time_delivered_end" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="messages_t">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="1" name="message" type="tns:message_t"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="user_t">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="now" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="login" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="company" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="auth_string" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="result_t">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="code" type="xsd:string"/>
               <xsd:element maxOccurs="1" minOccurs="0" name="desc" type="xsd:string"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="message_response_t">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="message_id" type="xsd:long"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="result" type="tns:result_t"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="set_message_status_request_data">
            <xsd:sequence>
               <xsd:element maxOccurs="1" minOccurs="1" name="user" type="tns:user_t"/>
               <xsd:element maxOccurs="1" minOccurs="1" name="messages" type="tns:messages_t"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="set_message_status_response_data">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="1" name="message_response" type="tns:message_response_t"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="set_message_status" type="tns:set_message_status_request_data"/>
         <xsd:element name="set_message_status_response" type="tns:set_message_status_response_data"/>
      </xsd:schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="set_message_status_request_data">
      <WL5G3N0:part name="parameters" element="WL5G3N1:set_message_status"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="set_message_status_response_data">
      <WL5G3N0:part name="parameters" element="WL5G3N1:set_message_status_response"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="ToaPortType">
      <WL5G3N0:operation name="set_message_status">
         <WL5G3N0:input message="WL5G3N1:set_message_status_request_data"/>
         <WL5G3N0:output message="WL5G3N1:set_message_status_response_data"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="ToaBinding" type="WL5G3N1:ToaPortType">
      <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="set_message_status">
         <WL5G3N2:operation style="document" soapAction="toa_outbound_interface/set_message_status"/>
         <WL5G3N0:input>
            <WL5G3N2:body use="literal"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N2:body use="literal"/>
         </WL5G3N0:output>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="toa_outbound_interface">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="toa_outbound_interface" binding="WL5G3N1:ToaBinding">
         <WL5G3N2:address location="https://soacsdev.puntonet.ec:9174/fields/outboundPS"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
