PoC_SOA/CalculadoraSOA/SOA/Schemas/calculadora.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.example.org" elementFormDefault="qualified">
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="num1" type="xsd:int"/>
      <xsd:element name="num2" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="result" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>
</xsd:schema>
