PoC_SOA/XmlToJson/SOA/Schemas/Sources.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.example.org" elementFormDefault="qualified">
  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="body" type="xsd:string"/>
        <xsd:element name="id" type="xsd:integer"/>
        <xsd:element name="title" type="xsd:string"/>
        <xsd:element name="userid" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
